DATABASE_DIR=/media/harry/DATA120B/DATABASE
HADITH_JSON_SOURCE_DIR=/tmp/hadith-json
OLLAMA_BASE=http://127.0.0.1:11434
LEASE_COORDINATOR_URL=http://127.0.0.1:9000/chat/completions
INGEST_LANGUAGES=id
INGEST_LIMIT_BOOKS=
INGEST_FORCE_REFRESH=0
INGEST_BATCH_SIZE=128
EMBED_BATCH_SIZE=64
EMBED_RETRY_COUNT=3
EMBED_TIMEOUT=60
